.auth {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form {
    text-align: center;
    color: #ffffffd5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 40px 40px;
    padding-top: 30px;
    background: transparent;
    background-color: rgba(250, 235, 215, 0.95);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.auth-form h1 {
    color: #161616;
    font-size: 30px;
    padding-bottom: 20px;
}